<nav class="navmenu">
    <NavLink class="nav-item" href="/" Match="NavLinkMatch.All">
        <span class="nav-icon">🍔</span>
        <span>Novo pedido</span>
    </NavLink>
    <NavLink class="nav-item" href="/admin">
        <span class="nav-icon">📋</span>
        <span>Pedidos</span>
    </NavLink>
    <NavLink class="nav-item" href="/products">
        <span class="nav-icon">🍔</span>
        <span>Produtos</span>
    </NavLink>
    <NavLink class="nav-item" href="/dashboard">
        <span class="nav-icon">📊</span>
        <span>Dashboard</span>
    </NavLink>
</nav>
